div{
  height: 100vh;
}

.page-container{
  width: 100%;
  height: 100%;
}

.tree-container{
  width: 100%;
  height: calc(100vh - 200px);
}

.btn-container{
  width: 400px;
  height: 200px;
  margin-left:auto;
  margin-right: auto;
}

.new-node-container{
  height: 200px;
}

.new-node-container-col{
  height: 100px;
}

.node > circle{
  fill: yellow;

}